<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="nassao logo"
    src="/assets/favicon.png"
  />
  <div class="spacer"></div>
  <span>Cron Scheduler</span>
  <div class="spacer"></div>
  <span id="title">{{ title }} by Daniel Ramirez</span>
</div>

<div class="content" role="main">

  <!-- Insertion of new items -->
  <div class="card highlight-card card">
    <mat-form-field appearance="outline">
      <mat-label>Execution frecuency</mat-label>
      <input matInput placeholder="Cron expression" id="cron-expression">
      <mat-icon matSuffix>alarm_on</mat-icon>
      <mat-hint>Use "* * * * *" for every minute execution</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Resource</mat-label>
      <input matInput placeholder="URL" id="cron-url">
      <mat-icon matSuffix>open_in_browser</mat-icon>
      <mat-hint>Use "http://your_site.name" full format</mat-hint>
    </mat-form-field>

    <button mat-icon-button><mat-icon>done</mat-icon></button>
  </div>

  <!-- Items list -->
  <h2>Tasks scheduled</h2>

  <div class="card-container">
    <div class="card">
      <span class="task-title">{{title}}</span>
    </div>

  </div>

  <!-- Results -->
  <h2>Next Steps</h2>
  <p>What do you want to do next with your app?</p>

  <input type="hidden" #selection>

  <div class="card-container">
    <button class="card card-small" (click)="selection.value = 'component'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
      <span>New Component</span>
    </button>

  </div>

  <!-- Terminal -->
  <div class="terminal" [ngSwitch]="selection.value">
      <pre *ngSwitchDefault>ng generate component xyz</pre>
      <pre *ngSwitchCase="'material'">ng add @angular/material</pre>
      <pre *ngSwitchCase="'pwa'">ng add @angular/pwa</pre>
      <pre *ngSwitchCase="'dependency'">ng add _____</pre>
      <pre *ngSwitchCase="'test'">ng test</pre>
      <pre *ngSwitchCase="'build'">ng build</pre>
  </div>

  <!-- Footer -->
  <footer>
    <div>
      A <a href="https://agile.nassao.com/acerca-de" target="_blank" rel="noopener">Daniel Ramirez</a> development
    </div>
    <div class="spacer"></div>
    <div>
      Powered by <a href="https://github.com/nassao/tech-rockwell" target="_blank" rel="noopener">nassao</a>
    </div>
  </footer>
</div>
